model_config_list { 
  config {
    name: 'mobilenet-edgetpu-v2-tiny'
    base_path: '/models/mobilenet-edgetpu-v2-tiny'
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  },
  config {
    name: 'bit'
    base_path: '/models/bit'
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
}